.card2 {
  width: 477px;
  aspect-ratio: 477/219;
  padding: 3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: white;
  text-align: center;
}
.card2-info-count {
  font-size: 36px;
  font-weight: 700;
}
.card2-info-text {
  font-size: 18px;
}
.card2-line {
  height: 100%;
  width: 1px;
  background: #d6d6ec;
}

@media (max-width: 400px) {
  .card2 {
    padding: 2rem;
  }
  .card2-info-count {
    font-size: 26px;
  }
  .card2-info-text {
    font-size: 16px;
  }
}
